.button-menu {
  color: #00ffff;
  border: 1px solid #00ffff;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 20px 20px;
}

.left-menu {
  background-color: red;
}
.button-saves {
  color: red;
}
