.menu .container-menu {
  /* border-bottom: 1px solid #1a5051; */
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
.menu .container-menu .logo {
  width: 90px;
  margin-top: 1em;
  height: 100%;
}
/* #072126; */

.menu .container-menu .buttons {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  border-radius: 10px 10px;
  height: 40%;
}
.menu-icon-sm {
  border: 1px solid blue;
  position: absolute;
  right: 0;
}
.menu .container-menu .buttons .button {
  color: #81828e;
  margin-left: 1em;
}
.menu .container-menu .buttons .button:hover {
  color: #00ffff;
}

.menu .container-menu .button-explorer {
  height: 40%;
  margin-top: 1.3em;
  color: #00ffff;
  border: 1px solid #00ffff;
  border-radius: 20px 20px;
}
.menu .container-menu .button-register {
  height: 40%;
  margin: auto;
  color: #00ffff;
  border: 1px solid #00ffff;
  border-radius: 20px 20px;
}

@media (max-width: 1024px) {
  .menu .container-menu .buttons {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    border-radius: 10px 10px;
    height: 40%;
  }
}
@media (max-width: 768px) {
  .menu .container-menu .logo {
    width: 30%;
    height: 100%;
    margin: auto;
  }
  .menu .container-menu .button-register {
    height: 40%;
    width: 25%;
    padding: 3px;
    margin: auto;
    color: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 20px 20px;
  }
}
@media (max-width: 425px) {
  .menu .container-menu .button-register {
    height: 40%;
    width: 80%;
    margin: auto;
    color: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 20px 20px;
  }
}
@media (max-width: 375px) {
  .menu .container-menu .logo {
    width: 50%;
    height: 100%;
    margin: auto;
  }
  .menu .container-menu .button-register {
    display: none;
  }
}
